# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode user data
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode derived data & build
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods (n/a ici mais bonne pratique)
Pods/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
